# Twilio Configuration
# Get these from https://www.twilio.com/console
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE=+1234567890
MY_PHONE=+91xxxxxxxxxx

# Server
PORT=3000
